<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="wrapper wrapper-content">
            <img class="img-responsive center-block" src="static/images/demo/platoon.png" alt="platoon">
        </div>
    </div>

    <div class="col-xs-12 col-sm-9">
        <div class="ibox">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h2>{{ vm.test.name }}</h2>
                    </div>

                    <div class="col-xs-12">{{ vm.test.description }}</div>

                    <div class="col-xs-12 m-t">
                        <a href="" ng-disabled="true" class="btn btn-primary btn-block btn-lg">Виконати</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <!--<div class="table-responsive">-->

        <div class="ibox">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <a class="btn btn-white" ng-click="vm.taskFormModal(vm.test)">Додати ще</a>
                </div>
            </div>
            <div class="ibox-content" style="display: block;">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Завдання</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.test.taskList">
                            <td>{{item.id}}</td>
                            <td>
                                <strong>{{item.name}}</strong>
                                <p ng-show="item.description">{{item.description}}</p>
                            </td>
                            <td>
                                <a class="text-info" href="" ng-disabled="true" ng-click="">
                                <i class="fa fa-check fa-3x"></i>
                            </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--</div>-->
    </div>
</div>
