<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="wrapper wrapper-content">
            <img class="img-responsive center-block" src="static/images/demo/platoon.png" alt="platoon">
        </div>
    </div>

    <div class="col-xs-12 col-sm-9">
        <div class="ibox">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h2>Назва завдання {{ vm.test.id }}</h2>
                    </div>

                    <div class="col-xs-12">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque beatae dolore dolores doloribus earum eos ex exercitationem facilis, hic inventore mollitia nobis perspiciatis provident quasi soluta, ullam, ut voluptatum.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque beatae dolore dolores doloribus earum eos ex exercitationem facilis, hic inventore mollitia nobis perspiciatis provident quasi soluta, ullam, ut voluptatum.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque beatae dolore dolores doloribus earum eos ex exercitationem facilis, hic inventore mollitia nobis perspiciatis provident quasi soluta, ullam, ut voluptatum.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque beatae dolore dolores doloribus earum eos ex exercitationem facilis, hic inventore mollitia nobis perspiciatis provident quasi soluta, ullam, ut voluptatum.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque beatae dolore dolores doloribus earum eos ex exercitationem facilis, hic inventore mollitia nobis perspiciatis provident quasi soluta, ullam, ut voluptatum.
                    </div>

                    <div class="col-xs-12 m-t">
                        <a href="/" class="btn btn-primary btn-block btn-lg">Виконати</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <!--<div class="table-responsive">-->

        <div class="ibox">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <a class="btn btn-white" ng-click="vm.taskFormModal()">Додати ще</a>
                </div>
            </div>
            <div class="ibox-content" style="display: block;">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Завдання</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus doloribus eius eveniet illum in incidunt ipsa iure maxime nulla, omnis porro praesentium quisquam quod repudiandae similique soluta temporibus tenetur!</td>
                        <td>
                            <a class="text-info" href="/" ng-click="">
                                <i class="fa fa-check fa-3x"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus doloribus eius eveniet illum in incidunt ipsa iure maxime nulla, omnis porro praesentium quisquam quod repudiandae similique soluta temporibus tenetur!</td>
                        <td>
                            <a class="text-info" href="/" ng-click="">
                                <i class="fa fa-check fa-3x"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus doloribus eius eveniet illum in incidunt ipsa iure maxime nulla, omnis porro praesentium quisquam quod repudiandae similique soluta temporibus tenetur!</td>
                        <td>
                            <a class="text-danger" href="/" ng-click="">
                                <i class="fa fa-times fa-3x"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus doloribus eius eveniet illum in incidunt ipsa iure maxime nulla, omnis porro praesentium quisquam quod repudiandae similique soluta temporibus tenetur!</td>
                        <td>
                            <a class="text-info" href="/" ng-click="">
                                <i class="fa fa-check fa-3x"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--</div>-->
    </div>
</div>
