# Files
*.iml
*.css

# Foulders
.idea/
node_modules/
bower_components/
.sass-cache/
template-sources/

# Main Application
app/static/vendor/*
app/slider/bootstrap/

# Landing Application
landing/static/vendor/*

