<div class="ibox">
    <div class="ibox-title">
        <h2>Cities</h2>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form ng-submit="vm.createNewCity()" class="form-inline">
                    <div class="form-group">
                        <label for="regionSelect">Регіон:</label>
                        <select id="regionSelect" ng-model="vm.newCity.regionId" class="form-control"
                                ng-options="region.id as region.name for region in vm.regions">
                            <option disabled hidden value="">Виберіть регіон</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cityName">Назва міста:</label>
                        <div class="input-group">
                            <input id="cityName" type="text" class="form-control" ng-model="vm.newCity.name">
                            <span class="input-group-btn">
                            <button ng-disabled="!vm.newCity.regionId || !vm.newCity.name" type="submit"
                                    class="btn btn-primary">Додати</button>
                        </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Мiсто</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="city in vm.cities">
                        <td>{{$index+1}}</td>
                        <td>{{city.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>