<div class="ibox">
    <div class="ibox-title">
        <h1>Сторінка підтвердження нових користувачів</h1>
    </div>
    <div class="ibox-content">
        <table class="a-cu-table footable" data-page-size="8">
            <thead class="a-cu-table__header">
            <tr>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big">ПІБ</th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-hide="phone">Телефон</th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-hide="phone">Email</th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-hide="phone,tablet">Дата
                    народження
                </th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-sort-ignore="true"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item a-cu-cell-text">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item a-cu-cell-text">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            <tr class="a-cu-table__row">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">Іван Іванов</td>
                <td class="a-cu-table__item a-cu-cell-text">067999999</td>
                <td class="a-cu-table__item a-cu-cell-text">ii@gmail.com</td>
                <td class="a-cu-table__item a-cu-cell-text">20 травня 1998</td>
                <td class="a-cu-table__item a-cu-text">
                    <button class="btn btn-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Підтвердити Користувача</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" name="email" ng-model="vm.data.email" id="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">Телефон</label>
                                <div class="col-sm-9">
                                    <input type="tel" id="phone" name="phone" ng-model="vm.data.phone" class="form-control" value="" size="10" maxlength="10" required="required" title="093" placeholder="Телефон">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label">Ім'я</label>
                                <div class="col-sm-9">
                                    <input type="text" id="firstName" name="firstName" ng-model="vm.data.firstName" class="form-control" maxlength="30" placeholder="Ім'я">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Прізвище</label>
                                <div class="col-sm-9">
                                    <input type="text" id="lastName" name="lastName" ng-model="vm.data.lastName" class="form-control rr-signup-input rr-signup-input__right-block" maxlength="30" placeholder="Прізвище">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date" class="col-sm-3 control-label">Народився</label>
                                <div class="col-sm-9">
                                    <input type="date" id="date" name="birthDate" ng-model="vm.data.birthDate" class="form-control" placeholder="Дата народження" title="дата народження">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender" class="col-sm-3 control-label">Стать</label>
                                <div class="col-sm-9">
                                    <select id="gender" name="gender" ng-model="vm.data.gender" class="form-control" title="СТАТЬ">
                                        <option value="male">Мужской</option>
                                        <option value="female">Женский</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city" class="col-sm-3 control-label">Місто</label>
                                <div class="col-sm-9">
                                    <input type="text" id="city" name="city" ng-model="vm.data.city" class="form-control" maxlength="30" placeholder="Місто">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="platoon" class="col-sm-3 control-label">№ загону</label>
                                <div class="col-sm-9">
                                    <input type="number" id="platoon" name="platoon" ng-model="vm.data.platoon" class="form-control" min="1" max="5" placeholder="НОМЕР ЗАГОНУ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-3 control-label">Ланка</label>
                                <div class="col-sm-9">
                                    <input type="text" id="group" name="group" ng-model="vm.data.group" class="form-control" maxlength="30" placeholder="НАЗВА ЛАНКИ">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rang" class="col-sm-3 control-label">Звання</label>
                                <div class="col-sm-9">
                                    <select id="rang" name="rang" ng-model="vm.data.rang" class="form-control" title="Звання">
                                        <option value="1">Старший лідер</option>
                                        <option value="2">Помічник старшого лідера</option>
                                        <option value="3">Лідер</option>
                                        <option value="2">Помічник лідера</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status" class="col-sm-3 control-label">Статус</label>
                                <div class="col-sm-9">
                                    <input type="text" id="status" name="status" ng-model="vm.data.status" class="form-control" maxlength="30" placeholder="СТАТУС">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pass" class="col-sm-3 control-label">Пароль</label>
                                <div class="col-sm-9">
                                    <input type="text" name="password" ng-model="vm.data.password" class="form-control" id="pass" placeholder="Пароль">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-danger">Відмовити</button>
                        <button type="submit" class="btn btn-primary">Прийняти</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.footable').footable();
    });
</script>