<div class="ibox">
    <div growl></div> <!-- this div needed to activate growl popups -->
    <div class="ibox-title">
        <h1>Сторінка підтвердження нових користувачів</h1>
    </div>
    <div class="ibox-content">
        <table class="a-cu-table footable" data-page-size="8">
            <thead class="a-cu-table__header">
            <tr>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big">ПІБ</th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-hide="phone">Телефон</th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-hide="phone">Email</th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-hide="phone,tablet">Дата
                    народження
                </th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-sort-ignore="true"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="a-cu-table__row" ng-repeat="user in vm.usersList">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">{{user.firstName + " " +
                    user.lastName}}
                </td>
                <td class="a-cu-table__item a-cu-cell-text">{{user.telephoneNumber}}</td>
                <td class="a-cu-table__item a-cu-cell-text">{{user.email}}</td>
                <td class="a-cu-table__item a-cu-cell-text">{{user.birthDate | date: "dd MMMM yyyy"}}</td>
                <td class="a-cu-table__item a-cu-cell-text">
                    <button class="btn btn-white" ng-click="vm.editUser(user.id)"><i class="fa fa-pencil"></i>
                        Підтвердити
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- This bootstrap modal be used to edit, confirm or decline user -->
<div class="modal fade" id="EditUser" tabindex="-1" role="dialog" aria-labelledby="EditUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="EditUserLabel">Підтвердити Користувача</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" ng-submit="vm.approveUser()">
                    <input type="hidden" ng-readonly="true" ng-model="vm.currentUser.id">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" ng-readonly="true" ng-model="vm.currentUser.email"
                                           id="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">Телефон</label>
                                <div class="col-sm-9">
                                    <input type="tel" id="phone" ng-model="vm.currentUser.telephoneNumber"
                                           class="form-control" placeholder="Телефон" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label">Ім'я</label>
                                <div class="col-sm-9">
                                    <input type="text" id="firstName" ng-model="vm.currentUser.firstName"
                                           class="form-control" placeholder="Ім'я" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="subName" class="col-sm-3 control-label">Прізвище</label>
                                <div class="col-sm-9">
                                    <input type="text" id="subName" ng-model="vm.currentUser.lastName"
                                           class="form-control" placeholder="Прізвище" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birth" class="col-sm-3 control-label">Народився</label>
                                <div class="col-sm-9">
                                    <input type="date" id="birth" ng-model="vm.currentUser.birthDate"
                                           class="form-control" placeholder="Дата народження" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sex" class="col-sm-3 control-label">Стать</label>
                                <div class="col-sm-9">
                                    <select id="sex" ng-model="vm.currentUser.gender" class="form-control"
                                            title="СТАТЬ" required>
                                        <option value="male">Мужской</option>
                                        <option value="female">Женский</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city" class="col-sm-3 control-label">Місто</label>
                                <div class="col-sm-9">
                                    <select id="city" ng-disabled="vm.cities.length == 0" ng-model="vm.currentUser.cityId"
                                            ng-options="record.id as record.name for record in vm.cities"
                                            ng-change="vm.changeGroup(vm.currentUser.cityId)" class="form-control" required>
                                        <option value="" disabled hidden>Виберіть місто</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="groupNumber" class="col-sm-3 control-label">Група</label>
                                <div class="col-sm-9">
                                    <select id="groupNumber" ng-disabled="vm.groups.length == 0"
                                            ng-model="vm.currentUser.groupId"
                                            ng-options="record.id as record.name for record in vm.groups"
                                            ng-change="vm.changePlatoon(vm.currentUser.groupId)" class="form-control" required>
                                        <option value="" disabled hidden>Виберіть группу</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="platoon" class="col-sm-3 control-label">Загін</label>
                                <div class="col-sm-9">
                                    <select id="platoon" ng-disabled="vm.platoons.length == 0"
                                            ng-model="vm.currentUser.platoonId"
                                            ng-options="record.id as record.name for record in vm.platoons"
                                            ng-change="vm.getSections(vm.currentUser.platoonId)" class="form-control"
                                            required>
                                        <option value="" disabled hidden>Виберіть загін</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sectionId" class="col-sm-3 control-label">Ланка</label>
                                <div class="col-sm-9">
                                    <select id="sectionId" ng-disabled="vm.sections.length == 0"
                                            ng-model="vm.currentUser.sectionId"
                                            ng-options="record.id as record.name for record in vm.sections"
                                            class="form-control" required>
                                        <option value="" disabled hidden>Виберіть ланку</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rank" class="col-sm-3 control-label">Звання</label>
                                <div class="col-sm-9">
                                    <select id="rank" ng-disabled="vm.ranks.length == 0"
                                            ng-model="vm.currentUser.rankId"
                                            ng-options="record as record for record in vm.ranks"
                                            class="form-control" required>
                                        <option value="" disabled hidden>Виберіть звання</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" data-dismiss="alert" class="btn btn-danger"
                                ng-click="vm.showConfirmDecline()">
                            Відмовити
                        </button>
                        <button type="submit" class="btn btn-primary">Прийняти</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- in this modal admin will be see confirm to decline user-->
<div class="modal fade" id="ConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="ConfirmDeleteLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ConfirmDeleteLabel">Ви впевнені?</h4>
            </div>
            <div class="modal-body">
                <div>Відмовити в реєстрації:</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ні
                </button>
                <button type="submit" class="btn btn-primary" ng-click="vm.declineUser()">Так</button>
            </div>
        </div>
    </div>
</div>