<div class="ibox">
    <div class="ibox-title">
        <h1>Сторінка підтвердження нових користувачів</h1>
    </div>
    <div class="ibox-content">
        <table class="a-cu-table footable" data-page-size="8">
            <thead class="a-cu-table__header">
            <tr>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big">ПІБ</th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-hide="phone">Телефон</th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-hide="phone">Email</th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-hide="phone,tablet">Дата народження
                </th>
                <th class="a-cu-table__col-name a-cu-cell-text a-cu-cell-text_size_big" data-sort-ignore="true"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="a-cu-table__row" ng-repeat="user in usersList">
                <td class="a-cu-table__item a-cu-cell-text a-cu-cell-text_bold">{{user.name + " " + user.subName}}</td>
                <td class="a-cu-table__item a-cu-cell-text">{{user.phone}}</td>
                <td class="a-cu-table__item a-cu-cell-text">{{user.email}}</td>
                <td class="a-cu-table__item a-cu-cell-text">{{user.birth | date: "dd MMMM yyyy"}}</td>
                <td class="a-cu-table__item a-cu-cell-text">
                    <button class="btn btn-white" ng-click="setCurrentUser(user.id)" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Підтвердити</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Підтвердити Користувача</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" name="id" ng-model="currentUser.id">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" name="email" ng-model="currentUser.email" id="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">Телефон</label>
                                <div class="col-sm-9">
                                    <input type="tel" id="phone" name="phone" ng-model="currentUser.phone" class="form-control" placeholder="Телефон">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label">Ім'я</label>
                                <div class="col-sm-9">
                                    <input type="text" id="firstName" name="name" ng-model="currentUser.name" class="form-control" placeholder="Ім'я">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="subName" class="col-sm-3 control-label">Прізвище</label>
                                <div class="col-sm-9">
                                    <input type="text" id="subName" name="subName" ng-model="currentUser.subName" class="form-control" placeholder="Прізвище">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birth" class="col-sm-3 control-label">Народився</label>
                                <div class="col-sm-9">
                                    <input type="date" id="birth" name="birth" ng-model="currentUser.birth" class="form-control" placeholder="Дата народження">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sex" class="col-sm-3 control-label">Стать</label>
                                <div class="col-sm-9">
                                    <select id="sex" name="sex" ng-model="currentUser.sex" class="form-control" title="СТАТЬ">
                                        <option value="male">Мужской</option>
                                        <option value="female">Женский</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city" class="col-sm-3 control-label">Місто</label>
                                <div class="col-sm-9">
                                    <input type="text" id="city" name="city" ng-model="currentUser.city" class="form-control" placeholder="Місто">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="groupNumber" class="col-sm-3 control-label">№ загону</label>
                                <div class="col-sm-9">
                                    <input type="number" id="groupNumber" name="groupNumber" ng-model="currentUser.groupNumber" class="form-control" min="1" max="30" placeholder="НОМЕР ЗАГОНУ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="line" class="col-sm-3 control-label">Ланка</label>
                                <div class="col-sm-9">
                                    <input type="text" id="line" name="line" ng-model="currentUser.line" class="form-control" placeholder="НАЗВА ЛАНКИ">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rank" class="col-sm-3 control-label">Звання</label>
                                <div class="col-sm-9">
                                    <select id="rank" name="rank" ng-model="currentUser.rank" class="form-control">
                                        <option value="1">Старший лідер</option>
                                        <option value="2">Помічник старшого лідера</option>
                                        <option value="3">Лідер</option>
                                        <option value="2">Помічник лідера</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status" class="col-sm-3 control-label">Статус</label>
                                <div class="col-sm-9">
                                    <input type="text" id="status" name="status" ng-model="currentUser.status" class="form-control" placeholder="СТАТУС">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pass" class="col-sm-3 control-label">Пароль</label>
                                <div class="col-sm-9">
                                    <input type="text" name="password" ng-model="currentUser.password" class="form-control" id="pass" placeholder="Пароль">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-danger">Відмовити</button>
                        <button type="submit" class="btn btn-primary">Прийняти</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--this script implement FooTable plugin to our table with users-->
<script>
    $(document).ready(function () {
        $('.footable').footable();
    });
</script>