<div class="ibox">
    <div class="ibox-title">
        <h2>Regions</h2>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form ng-submit="vm.createNewRegion()" class="form-inline">
                    <div class="form-group">
                        <label for="countrySelect">Країна:</label>
                        <select id="countrySelect" ng-model="vm.newRegion.countryId" class="form-control"
                                ng-options="country.id as country.name for country in vm.countries">
                            <option disabled hidden value="">Виберіть країну</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="regionName">Назва регіону:</label>
                        <div class="input-group">
                            <input id="regionName" type="text" class="form-control" ng-model="vm.newRegion.name">
                            <span class="input-group-btn">
                            <button ng-disabled="!vm.newRegion.countryId || !vm.newRegion.name" type="submit"
                                    class="btn btn-primary">Додати</button>
                        </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Регiон</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="region in vm.regions">
                            <td>{{$index+1}}</td>
                            <td>{{region.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>