<h2 class="text-center rr__tree__main__header">Royal Ranger Structure</h2>

<!-- --------------------------------------------- -->
<!--                    Main                       -->
<!-- --------------------------------------------- -->
<div class="rr__tree__item">
    <!-- ***** Main Header ***** -->
    <div ng-click="vm.collapseItem('Countries'); vm.getCountries()">
        <p>Countries
            <span ng-show="vm.collapsingItems['Countries']" class="fa fa-chevron-down text-right"></span>
            <span ng-show="!vm.collapsingItems['Countries']" class="fa fa-chevron-right text-right"></span>
        </p>
    </div>
    <!-- ***** Main Body ***** -->
    <div uib-collapse="!vm.collapsingItems['Countries']">

        <!-- --------------------------------------------- -->
        <!--                 Countries                     -->
        <!-- --------------------------------------------- -->
        <div class="rr__tree__item" ng-repeat="country in vm.royalRangersStructure.countries">
            <!-- ***** Country Header ***** -->
            <div ng-click="vm.collapseItem(country.name); vm.getRegionsByCountry(country)">
                <p>Country: {{country.name}}
                    <span ng-show="vm.collapsingItems[country.name]" class="fa fa-chevron-down text-right"></span>
                    <span ng-show="!vm.collapsingItems[country.name]" class="fa fa-chevron-right text-right"></span>
                </p>
            </div>
            <!-- ***** Country Body ***** -->
            <div uib-collapse="!vm.collapsingItems[country.name]">

                <!-- --------------------------------------------- -->
                <!--                  Regions                      -->
                <!-- --------------------------------------------- -->
                <div class="rr__tree__item" ng-repeat="region in country.regions">
                    <!-- ***** Region Header ***** -->
                    <div ng-click="vm.collapseItem(region.name); vm.getCitiesByRegion(region)">
                        <p>Region: {{region.name}}
                            <span ng-show="vm.collapsingItems[region.name]"
                                  class="fa fa-chevron-down text-right"></span>
                            <span ng-show="!vm.collapsingItems[region.name]"
                                  class="fa fa-chevron-right text-right"></span>
                        </p>
                    </div>
                    <!-- ***** Region Body ***** -->
                    <div uib-collapse="!vm.collapsingItems[region.name]">

                        <!-- --------------------------------------------- -->
                        <!--                   Cities                      -->
                        <!-- --------------------------------------------- -->
                        <div class="rr__tree__item" ng-repeat="city in region.cities">
                            <!-- ***** City Header ***** -->
                            <div ng-click="vm.collapseItem(city.name); vm.getPlatoonsByCity(city)">
                                <p>City: {{city.name}}
                                    <span ng-show="vm.collapsingItems[city.name]"
                                          class="fa fa-chevron-down text-right"></span>
                                    <span ng-show="!vm.collapsingItems[city.name]"
                                          class="fa fa-chevron-right text-right"></span>
                                </p>
                            </div>
                            <!-- ***** City Body ***** -->
                            <div uib-collapse="!vm.collapsingItems[city.name]">

                                <!-- --------------------------------------------- -->
                                <!--                   Platoons                    -->
                                <!-- --------------------------------------------- -->
                                <div class="rr__tree__item" ng-repeat="platoon in city.platoons">
                                    <!-- ***** Platoon Header ***** -->
                                    <div ng-click="vm.collapseItem(platoon.name); vm.getSectionsByPlatoon(platoon)">
                                        <p>Platoon: {{platoon.name}}
                                            <span ng-show="vm.collapsingItems[platoon.name]"
                                                  class="fa fa-chevron-down text-right"></span>
                                            <span ng-show="!vm.collapsingItems[platoon.name]"
                                                  class="fa fa-chevron-right text-right"></span>
                                        </p>
                                    </div>
                                    <!-- ***** Platoon Body ***** -->
                                    <div uib-collapse="!vm.collapsingItems[platoon.name]">

                                        <!-- --------------------------------------------- -->
                                        <!--                   Sections                    -->
                                        <!-- --------------------------------------------- -->
                                        <div class="rr__tree__item"
                                             ng-repeat="section in platoon.sections">
                                            <!-- ***** Sections Header ***** -->
                                            <div>
                                                <p> Section: {{section.name}} </p>
                                            </div>
                                        </div>

                                        <div class="rr__tree__item">
                                            <p>
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                Section</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="rr__tree__item">
                                    <p>
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        Platoon</p>
                                </div>
                            </div>
                        </div>

                        <div class="rr__tree__item">
                            <p>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                City</p>
                        </div>
                    </div>
                </div>

                <div class="rr__tree__item">
                    <p>
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Region</p>
                </div>
            </div>
        </div>

        <div class="rr__tree__item">
            <p>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Country</p>
        </div>
    </div>
</div>





