<div class="ibox profile">
    <div class="ibox-title profile__title">
        <h1>Тести</h1>

        <super-admin>
            <div class="ibox-tools">
                <a class="btn btn-white" ng-click="vm.newTestModal()">Додати новий тест</a>
            </div>
        </super-admin>
    </div>
</div>

<div class="ibox" ng-show="vm.infoMessage.length != 0">
    <div class="ibox-content">
        <div class="a-message-box">
            <p>{{vm.infoMessage}}</p>
        </div>
    </div>
</div>

<div class="ibox profile" ng-repeat="testsGroup in vm.tests">
    <div class="ibox-title profile__title" role="button" data-toggle="collapse" data-target="#{{testsGroup.name}}">
        <h2>{{ testsGroup.name }}</h2>
    </div>

    <div class="ibox-content collapse" id="{{testsGroup.name}}">
        <section class="row achievements">

            <figure class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-b-sm achievements__item" ng-repeat="test in testsGroup.list" ng-class="test.state.className">

                <a ng-click="vm.profileModal(test.id, test.testType)">

                    <span class="label">{{ test.state.name }}</span>

                    <img class="img-responsive" src="static/vendor/images/demo/profile.7.jpg" alt="{{ test.name }}">
                    <figcaption class="achievements__item-caption">
                        <span class="achievements__items-title">{{test.name}}</span>
                    </figcaption>
                </a>
            </figure>
        </section>
    </div>
</div>
