<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Royal Rangers</title>
    <link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon">

    <link href="static/vendor/css/app.css?t=1495122533594" rel="stylesheet">
    <script src="static/vendor/js/app.min.js?t=1495122533594"></script>
</head>

<body class="pace-done fixed-nav fixed-nav-basic fixed-sidebar" ng-controller="AppController as vm">

<!-- Loading Modal -->
<div class="modal fade" id="loading-modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2><img src="static/vendor/images/loading-spinner.gif" height="50" alt="Loading"> Loading...</h2>
            </div>
        </div>
    </div>
</div>

<script>
    $('#loading-modal').modal({show: true});
</script>

<div id="wrapper" ng-cloak>
    <nav class="navbar-default navbar-static-side" role="navigation">

        <div class="sidebar-collapse" style="overflow: hidden; width: auto; height: 100%;">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a href="#/">
                            <span>
                                <img alt="image" class="img-circle" fallback-src="{{ vm.defaultImage }}"
                                     ng-src="{{ vm.currentUser.avatarUrl}}" height="50">
                            </span>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">
                                        <span ng-bind="vm.currentUser.firstName"></span>
                                        <span ng-bind="vm.currentUser.lastName"></span>
                                    </strong>
                                </span>
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{vm.getUserRank(vm.currentUser)}}</strong>
                                </span>
                            </span>
                        </a>
                    </div>
                </li>

                <li ng-repeat="item in vm.sidebarMenu">
                    <a ng-show="vm.isShow(item)" href="{{ item.route }}">
                        <span class="nav-label">{{ item.name }}</span>
                        <span class="fa arrow" ng-if="item.submenu"></span>
                    </a>
                    <ul class="nav nav-second-level collapse" ng-if="item.submenu">
                        <li ng-repeat="subItem in item.submenu">
                            <a href="{{ subItem.route }}">{{ subItem.name }}</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1" style="min-height: 280px;">
        <div class="row border-bottom">
            <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0"
                 ng-controller="TopBarController as vm">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i class="fa fa-bars"></i></a>
                    <!-- TODO: Enable search feature if need -->
                    <!--<form role="search" class="navbar-form-custom" action="">
                        <div class="form-group">
                            <input type="text" placeholder="Пошук..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>-->
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Royal Rangers App.</span>
                    </li>
                    <li>
                        <a ng-click="vm.editUser()" href="#/">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/">
                            <i class="fa fa-sign-out"></i>
                            <span ng-click="vm.logout()">Вихід</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content" app-view-segment="0"></div>
                <div class="footer fixed">
                    <div>
                        <strong>Copyright</strong> Royal Rangers &copy; 2017
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>

</html>
