<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Signin Form</title>

    <link rel="stylesheet" href="../static/vendor/css/app.css">
    <link rel="stylesheet" href="signin-form.css"/>
    <link rel="stylesheet" href="buttons.css"/>
</head>
<body>

<div class="container rr-signin-form">
    <div class="row">

        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <h2 class="text-center">вхід</h2>

            <form action="" method="post" name="vm.form" ng-submit="vm.login()" ng-controller="SignInController" required>

                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="E-mail" ng-model="user.email" required>
                    <span ng-show="vm.form.email.$dirty && vm.form.email.$error.required">This field is required.</span>
                    <span ng-show="vm.form.email.$dirty && vm.form.email.$invalid">Enter a valid email.</span>
                </div>

                <div class="form-group">
                    <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Пароль"
                            ng-model="user.password"
                            ng-minlength="5"
                            ng-maxlength="25"
                    >
                    <span ng-show="vm.form.password.$dirty && vm.form.password.$error.required">This field is required.</span>
                    <span ng-show="vm.form.password.$dirty && vm.form.password.$error.minlength">Password is too short.</span>
                    <span ng-show="vm.form.password.$dirty && vm.form.password.$error.maxlength">Password is too long.</span>
                </div>

                <div class="form-group text-center">
                    <button ng-disabled="vm.form.$invalid" class="btn rr-btn-primary">Вхід</button>
                </div>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled text-center rr-signin-form-menu">
                <li><a href="#/register">Реєстрація</a></li>
                <li><a href="#/forgotpassword">Забули пароль?</a></li>
                <li><a href="#/confirmation">Не отримали листа про підтвердження реєстрації?</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>