<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.close()">&times;</button>
        <h4 class="modal-title" id="EditUserLabel">Підтвердити Користувача</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" ng-submit="vm.approveUser()">
            <input type="hidden" ng-readonly="true" ng-model="vm.currentUser.id">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" ng-readonly="true" ng-model="vm.currentUser.email"
                                   id="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">Телефон</label>
                        <div class="col-sm-9">
                            <input type="tel" id="phone" ng-model="vm.currentUser.telephoneNumber"
                                   class="form-control" placeholder="Телефон" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName" class="col-sm-3 control-label">Ім'я</label>
                        <div class="col-sm-9">
                            <input type="text" id="firstName" ng-model="vm.currentUser.firstName"
                                   class="form-control" placeholder="Ім'я" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="subName" class="col-sm-3 control-label">Прізвище</label>
                        <div class="col-sm-9">
                            <input type="text" id="subName" ng-model="vm.currentUser.lastName"
                                   class="form-control" placeholder="Прізвище" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="birth" class="col-sm-3 control-label">Народився</label>
                        <div class="col-sm-9">
                            <input type="date" id="birth" ng-model="vm.currentUser.birthDate"
                                   class="form-control" placeholder="Дата народження" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="sex" class="col-sm-3 control-label">Стать</label>
                        <div class="col-sm-9">
                            <select id="sex" ng-model="vm.currentUser.gender" class="form-control"
                                    title="СТАТЬ" required>
                                <option value="" disabled hidden>Виберіть стать</option>
                                <option value="male">Чоловіча</option>
                                <option value="female">Жіноча</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city" class="col-sm-3 control-label">Місто</label>
                        <div class="col-sm-9">
                            <select id="city" ng-disabled="vm.cities.length == 0" ng-model="vm.currentUser.cityId"
                                    ng-options="record.id as record.name for record in vm.cities"
                                    ng-change="vm.changeGroup(vm.currentUser.cityId)" class="form-control" required>
                                <option value="" disabled hidden>Виберіть місто</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="groupNumber" class="col-sm-3 control-label">Група</label>
                        <div class="col-sm-9">
                            <select id="groupNumber" ng-disabled="vm.groups.length == 0"
                                    ng-model="vm.currentUser.groupId"
                                    ng-options="record.id as record.name for record in vm.groups"
                                    ng-change="vm.changePlatoon(vm.currentUser.groupId)" class="form-control"
                                    required>
                                <option value="" disabled hidden>Виберіть группу</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="platoon" class="col-sm-3 control-label">Загін</label>
                        <div class="col-sm-9">
                            <select id="platoon" ng-disabled="vm.platoons.length == 0"
                                    ng-model="vm.currentUser.platoonId"
                                    ng-options="record.id as record.name for record in vm.platoons"
                                    ng-change="vm.setSections(vm.currentUser.platoonId)" class="form-control"
                                    required>
                                <option value="" disabled hidden>Виберіть загін</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="sectionId" class="col-sm-3 control-label">Ланка</label>
                        <div class="col-sm-9">
                            <select id="sectionId" ng-disabled="vm.sections.length == 0"
                                    ng-model="vm.currentUser.sectionId"
                                    ng-options="record.id as record.name for record in vm.sections"
                                    class="form-control" required>
                                <option value="" disabled hidden>Виберіть ланку</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="rank" class="col-sm-3 control-label">Звання</label>
                        <div class="col-sm-9">
                            <select id="rank" ng-disabled="vm.ranks.length == 0"
                                    ng-model="vm.currentUser.userRank"
                                    ng-options="record as vm.ranksNames[record] for record in vm.ranks"
                                    class="form-control" required>
                                <option value="" disabled hidden>Виберіть звання</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="vm.close()">Закрити</button>
                <button type="button" data-dismiss="alert" class="btn btn-danger"
                        ng-click="vm.showConfirmDecline()">
                    Відмовити
                </button>
                <button type="submit" class="btn btn-primary">Прийняти</button>
            </div>
        </form>
    </div>
</div>

<!-- in this additional modal admin will be see confirm to decline user-->
<div class="modal fade" id="ConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="ConfirmDeleteLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ConfirmDeleteLabel">Ви впевнені?</h4>
            </div>
            <div class="modal-body">
                <div>Відмовити в реєстрації:</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ні
                </button>
                <button type="submit" class="btn btn-primary" ng-click="vm.declineUser()">Так</button>
            </div>
        </div>
    </div>
</div>