.modalvideo{
  background: url("img/4_Video.png")no-repeat ;
  background-size: cover;
  height:900px;

  .modalvideo__button{
    text-align: center;
    padding-top: 20%;

  }
}
.modalvideo__iframe{
  width: 100%;
  height:315px;
}

@media(max-width: 768px) {
  .modalvideo {

    background-size: 100%;

    .modalvideo__button{
      padding-top: 20%;

      .modalvideo__button-img{

        width: 20%;
        height: 20%;
      }
    }
  }
}