@charset "UTF-8";
.section__signup {
  background-color: #f6f5f6;
  padding-top: 100px; }
  .section__signup div .signup__form {
    text-align: center; }
  .section__signup div div .signup__form-cell {
    height: 50px; }
    .section__signup div div .signup__form-cell .signup-input {
      width: 50%; }
    .section__signup div div .signup__form-cell .signup-input__left-block {
      margin-left: 280px; }
    .section__signup div div .signup__form-cell .signup-input__right-block {
      margin-right: 280px; }
  .section__signup div .section__signup__enter {
    padding-top: 40px;
    text-align: center; }
    .section__signup div .section__signup__enter .section__signup__enter-btn {
      display: block;
      color: #fff;
      border-radius: 0em;
      /* ╨Ю╨▒╨╜╤Г╨╗╨╕╤В╤М ╨╛╨║╤А╤Г╨│╨╗╨╛╤Б╤В╨╕ */
      -moz-border-radius: 0em;
      /* ╨Ю╨▒╨╜╤Г╨╗╨╕╤В╤М ╨╛╨║╤А╤Г╨│╨╗╨╛╤Б╤В╨╕ */
      -webkit-border-radius: 0em;
      /* ╨Ю╨▒╨╜╤Г╨╗╨╕╤В╤М ╨╛╨║╤А╤Г╨│╨╗╨╛╤Б╤В╨╕ */
      background: #d9534f;
      border: none;
      text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);
      border-bottom: 2px solid #d9534f;
      position: relative;
      text-transform: uppercase;
      margin: 0 auto; }
    .section__signup div .section__signup__enter .section__signup__enter-btn:after, .section__signup div .section__signup__enter .section__signup__enter-btn:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute; }
    .section__signup div .section__signup__enter .section__signup__enter-btn:after {
      border-color: rgba(136, 183, 213, 0);
      border-left-color: #d9534f;
      border-width: 16px;
      margin-top: -16px; }
    .section__signup div .section__signup__enter .section__signup__enter-btn:before {
      border-color: rgba(194, 225, 245, 0);
      border-left-color: #d9534f;
      border-width: 16px;
      margin-top: -14px; }
  .section__signup div .signup__ask {
    color: grey;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em; }

@media (max-width: 768px) {
  .section__signup {
    background-color: #f6f5f6;
    padding-top: 100px; }
    .section__signup .signup__form {
      text-align: center; }
      .section__signup .signup__form div .signup__form-cell {
        height: 50px; }
        .section__signup .signup__form div .signup__form-cell .signup-input {
          width: 100%;
          margin: 0 auto; } }


