@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
[class^='rr-icon'] {
  background-image: url("sprites.png?v=1");
  background-repeat: no-repeat;
  display: inline-block; }

.rr-icon-fb {
  width: 61px;
  height: 62px;
  background-position: 0 0; }
.rr-icon-rr {
  width: 61px;
  height: 61px;
  background-position: -61px 0; }
.rr-icon-twitter {
  width: 61px;
  height: 61px;
  background-position: -122px 0; }
.rr-icon-up {
  width: 61px;
  height: 62px;
  background-position: -183px 0; }
.rr-icon-vk {
  width: 61px;
  height: 61px;
  background-position: -244px 0; }

.rr-footer {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Yanone Kaffeesatz';
  font-size: 22px;
  margin: 100px auto 30px; }
  .rr-footer .rr-footer-logo {
    position: absolute;
    width: 230px;
    bottom: -20px; }
    .rr-footer .rr-footer-logo img {
      width: 230px; }
  .rr-footer .rr-footer-contacts .rr-footer-contacts-icons, .rr-footer .rr-footer-contacts .rr-footer-contacts-info {
    float: right;
    margin: 15px 0 10px; }
  .rr-footer .rr-footer-contacts .rr-footer-contacts-icons .item {
    padding: 0 22px; }
    .rr-footer .rr-footer-contacts .rr-footer-contacts-icons .item:first-child {
      padding-left: 0; }
    .rr-footer .rr-footer-contacts .rr-footer-contacts-icons .item:last-child {
      padding-right: 60px; }
  .rr-footer .rr-footer-contacts .rr-footer-contacts-icons .rr-scroll-to-top {
    padding-right: 60px;
    margin-right: 0;
    border-right: 3px solid #cc252b; }
    .rr-footer .rr-footer-contacts .rr-footer-contacts-icons .rr-scroll-to-top + .item {
      padding-left: 60px; }
  .rr-footer .rr-footer-contacts .rr-footer-contacts-info {
    text-transform: uppercase; }
    .rr-footer .rr-footer-contacts .rr-footer-contacts-info a {
      color: #333; }