<div class="row" id="aboutUs">
    <div class="col-xs-12 rr-slider__wrapper">
        <div uib-carousel active="vm.slider.active" interval="vm.slider.interval" class="carousel slide rr-slider">
            <div uib-slide ng-repeat="slide in vm.slider.slides track by slide.id" index="slide.id" class="rr-slide">
                <img ng-src="{{slide.image}}" class="img-responsive">
                <div class="carousel-caption hidden-xs">
                    <div class="rr-slide__caption">
                        <h4 class="rr-slide__title">Royal Rangers</h4>
                        <p class="rr-slide__description">{{slide.description}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row" id="aboutProject">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="rr-about-us">
            <h3 class="text-center">Суть проекту</h3>
            <p>
                Сайт «ROYAL RANGERS ONLINE» - це унікальний проект, покликаний допомогти всім рейнджерам в досягненні цілей служіння. На
                нашому сайті, ви зможете мати доступ до всіх матеріалів RR в одному місці, без необхідності їх постійно роздруковувати,
                а також виконувати тестові завдання, дивитися додаткові матеріали, навчатись та товаришувати з усіма рейнджерами
                світу. Відтепер, ви маєте чудову можливість ефективно знаходити додаткові матеріали максимально швидко без
                необхідності годинами сидіти в інтернеті. Якщо ви командир – вам доступні всі оновлення програми в одному
                місці, постійно зростаюча бібліотека знань, а також матеріали та напрацювання інших командирів. «ROYAL RANGERS
                ONLINE» - ваш путівник в світі рейнджерства. Наша місія - досягти, навчити і виховати наступне покоління
                молодих людей бути послідовником Христа, лідерів-слуг, готових служити все своє життя.
            </p>
            <p>
                Доступ до інформації - один з головних чинників розвитку служіння. Виконання тестів, участь у таборах, отримання нагород
                - важлива складова RR. Проект «ROYAL RANGERS ONLINE» покликаний зібрати воєдино всіх рейнджерів світу, та
                поєднати їх зусилля в досягненні спільної цілі.
            </p>
            <p>
                З огляду на динамічність оновлення інформації (новини, нові тести, тренінги та семінари), користувач завжди може мати найсвіжіші
                та актуальні дані.
            </p>
            <p>
                Ви обов'язково оціните переваги процесу дистанційного навчання. Завдяки сайту «ROYAL RANGERS ONLINE» вам не доведеться здійснювати
                постійні поїздки, та просиджувати години на різних семінарах. Не потрібно буде самостійно працювати над кожним
                тестом майстерності. Всі нові матеріали та розробки з усього світу тепер будуть у вас постійно під рукою.
                На сайті «ROYAL RANGERS ONLINE» щогодини відбувається оновлення інформації.
            </p>
            <p>
                Тепер ви по справжньому зможете відчути себе частиною великої родини ROYAL RANGERS.
            </p>
        </div>
    </div>
</div>

<div class="row" id="howThisWork">
    <div class="col-xs-12">
        <div class="rr-video">
            <img class="rr-video__bg" src="./static/vendor/images/video.bg.curve.png" alt="">

            <div class="rr-video__button-wrapper">
                <a class="rr-video__button" ng-click="vm.homeModalVideo()">
                    <i class="rr-icon rr-icon__play hidden-xs"></i>
                    <i class="rr-icon rr-icon__play-xs visible-xs"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" id="locator">
    <!-- Temporary add google maps here. Change it if needed. -->
    <script type="application/javascript" src="./static/vendor/js/google-maps.js"></script>
    <div class="col-xs-12">
        <div class="rr-google-map__wrapper">
            <div class="rr-google-map"></div>
        </div>
    </div>
</div>