$screen-xs:     480px !default;
$screen-sm:     768px !default;
$screen-md:     992px !default;
$screen-lg:     1200px !default;

$map-height-lg: 470px;
$map-height-sm: 350px;

.wrapper {
    max-width: $screen-lg;
    margin: 0 auto;
}

.contact-form {
    width: 50%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

    .contact-form-email {
        flex-grow: 1;
    }

    .contact-form-separator {
        margin: 0 10px;
        border-right: 2px solid darkred;
    }

    .contact-form-btn {}
}

.footer {}