<div class="ibox">
    <div class="ibox-title">
        <h2>Тести</h2>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
                <form ng-submit="vm.findTest()" class="form-inline">
                    <div class="form-group">
                        <label for="testColor">Колір тесту:</label>
                        <select id="testColor"class="form-control">
                            <option disabled hidden value="">Виберіть колір</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="testName">Назва тесту:</label>
                        <div class="input-group">
                            <input id="testName" type="text" class="form-control">
                            <span class="input-group-btn">
                            <button ng-disabled="true" type="submit"
                                    class="btn btn-primary">Шукати</button>
                        </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-xs-12"><button ng-click="vm.createNewTest()" class="btn btn-info pull-right">Створити тест</button></div>
        </div>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Тест</th>
                            <th>Колір тесту</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="test in vm.tests">
                            <td class="col-md-2">{{$index+1}}</td>
                            <td class="col-md-4">{{test.name}}</td>
                            <td class="col-md-4">{{test.testType}}</td>
                            <td class="col-md-2"><button ng-disabled="true" class="btn btn-primary  pull-right">Детально</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>