<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.close()">&times;</button>
        <h4 class="modal-title" id="EditUserLabel">
            Підтвердити зміни для користувача {{vm.originalUser.firstName}} {{vm.originalUser.lastName}} ({{vm.originalUser.email}})
        </h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" ng-submit="vm.approveUser()">
            <input type="hidden" ng-readonly="true" ng-model="vm.originalUser.id">

            <!-- Email -->
            <div ng-if="vm.originalUser.email !== vm.modifiedUser.email" class="row">
                <div class="form-group">
                    <label for="originalEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-xs-5">
                        <input type="email" id="originalEmail" class="form-control" placeholder="Original Email"
                               ng-readonly="true"
                               ng-model="vm.originalUser.email">
                    </div>
                    <div class="col-xs-5">
                        <input type="email" id="email" class="form-control" placeholder="Modified Email"
                               ng-model="vm.modifiedUser.email">
                    </div>
                </div>
            </div>

            <!-- Telephone Number -->
            <div ng-if="vm.originalUser.telephoneNumber !== vm.modifiedUser.telephoneNumber" class="row">
                <div class="form-group">
                    <label for="originalPhone" class="col-sm-2 control-label">Телефон</label>
                    <div class="col-sm-5">
                        <input type="tel" id="originalPhone" class="form-control" placeholder="Телефон"
                               ng-readonly="true"
                               ng-model="vm.originalUser.telephoneNumber"
                               ui-mask="(999) 999-9999"
                               ui-mask-placeholder
                               ui-mask-placeholder-char="_">
                    </div>
                    <div class="col-sm-5">
                        <input type="tel" id="modifiedPhone" class="form-control" placeholder="Телефон"
                               ng-model="vm.modifiedUser.telephoneNumber"
                               ui-mask="(999) 999-9999"
                               ui-mask-placeholder
                               ui-mask-placeholder-char="_">
                    </div>
                </div>
            </div>

            <!-- First Name -->
            <div ng-if="vm.originalUser.firstName !== vm.modifiedUser.firstName" class="row">
                <div class="form-group">
                    <label for="originalFirstName" class="col-sm-2 control-label">Ім'я</label>
                    <div class="col-sm-5">
                        <input type="text" id="originalFirstName" class="form-control" placeholder="Ім'я"
                               ng-readonly="true"
                               ng-model="vm.originalUser.firstName">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" id="modifiedFirstName" class="form-control" placeholder="Ім'я"
                               ng-model="vm.modifiedUser.firstName">
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- TODO: do the same for other user fields -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="subName" class="col-sm-3 control-label">Прізвище</label>
                        <div class="col-sm-9">
                            <input type="text" id="subName" class="form-control"
                                   ng-model="vm.originalUser.lastName"
                                   placeholder="Прізвище" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="birth" class="col-sm-3 control-label">Народився</label>
                        <div class="col-sm-9">
                            <input type="date" id="birth" class="form-control"
                                   ng-model="vm.originalUser.birthDate"
                                   placeholder="Дата народження" required>
                            <!--<div uib-datepicker ng-model="vm.originalUser.birthDate" class="well well-sm" datepicker-options="options"></div>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="sex" class="col-sm-3 control-label">Стать</label>
                        <div class="col-sm-9">
                            <select id="sex" class="form-control"
                                    ng-model="vm.originalUser.gender"
                                    title="СТАТЬ" required>
                                <option value="" disabled hidden>Виберіть стать</option>
                                <option value="M">Чоловіча</option>
                                <option value="F">Жіноча</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="country" class="col-sm-3 control-label">Країна</label>
                        <div class="col-sm-9">
                            <select id="country"
                                    ng-disabled="vm.countries.length == 0"
                                    ng-model="vm.originalUser.country.id"
                                    ng-options="record.id as record.name for record in vm.countries"
                                    ng-change="vm.changeCountry()" class="form-control" required>
                                <option value="" disabled hidden>Виберіть країну</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="region" class="col-sm-3 control-label">Регіон</label>
                        <div class="col-sm-9">
                            <select id="region"
                                    ng-disabled="vm.regions.length == 0"
                                    ng-model="vm.originalUser.region.id"
                                    ng-options="record.id as record.name for record in vm.regions"
                                    ng-change="vm.changeRegion()" class="form-control" required>
                                <option value="" disabled hidden>Виберіть регіон</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city" class="col-sm-3 control-label">Місто</label>
                        <div class="col-sm-9">
                            <select id="city"
                                    ng-disabled="vm.cities.length == 0"
                                    ng-model="vm.originalUser.city.id"
                                    ng-options="record.id as record.name for record in vm.cities"
                                    ng-change="vm.changeCity()" class="form-control" required>
                                <option value="" disabled hidden>Виберіть місто</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="platoon" class="col-sm-3 control-label">Загін</label>
                        <div class="col-sm-9">
                            <select id="platoon"
                                    ng-disabled="vm.platoons.length == 0"
                                    ng-model="vm.originalUser.platoon.id"
                                    ng-options="record.id as record.name for record in vm.platoons"
                                    ng-change="vm.changePlatoon()" class="form-control" required>
                                <option value="" disabled hidden>Виберіть загін</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="sectionId" class="col-sm-3 control-label">Ланка</label>
                        <div class="col-sm-9">
                            <select id="sectionId" ng-disabled="vm.sections.length == 0"
                                    ng-model="vm.originalUser.section.id"
                                    ng-options="record.id as record.name for record in vm.sections"
                                    class="form-control" required>
                                <option value="" disabled hidden>Виберіть ланку</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="rank" class="col-sm-3 control-label">Звання</label>
                        <div class="col-sm-9">
                            <select id="rank" ng-disabled="vm.ranks.length == 0"
                                    ng-model="vm.originalUser.userRank"
                                    ng-options="record.value as record.name for record in vm.ranks"
                                    class="form-control" required>
                                <option value="" disabled hidden>Виберіть звання</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="vm.close()">Закрити</button>
                <button type="button" data-dismiss="alert" class="btn btn-danger"
                        ng-click="vm.showConfirmDecline()">
                    Відмовити
                </button>
                <button type="submit" class="btn btn-primary">Прийняти</button>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <pre>{{vm.originalUser | json}}</pre>
                </div>
                <div class="col-xs-6">
                    <pre>{{vm.modifiedUser | json}}</pre>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- in this additional modal admin will be see confirm to decline user-->
<div class="modal fade" id="ConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="ConfirmDeleteLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ConfirmDeleteLabel">Ви впевнені?</h4>
            </div>
            <div class="modal-body">
                <div>Відмовити в реєстрації:</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ні
                </button>
                <button type="submit" class="btn btn-primary" ng-click="vm.declineUser()">Так</button>
            </div>
        </div>
    </div>
</div>