.rr__tree__main__header {
  color: black;
  font-weight: normal;
}

.rr__tree__item {
  color: black;
  font-weight: normal;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  font-size: 16px;
  p {
    padding: 0;
    margin: 0;
  }
}

.rr__tree__item_adder {
  font-size: 1.5em;
}