.rr__tree__header {
  color: black;
  font-weight: normal;
}

.rr__tree__main__header {
  color: black;
  font-weight: normal;
}

.rr__tree__item {
  border-left: solid #000000 1px;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}