$placeholder-color: #999 !default;
$font-size-input:   30px;
$line-height-computed:  floor($font-size-base * $line-height-base);

.form-control {
    height: $line-height-computed + ($padding-base-vertical * 2) + 2; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    font-size: $font-size-input;
    line-height: $line-height-base;
    border-radius: 0;

    &::-moz-placeholder {
        color: $placeholder-color;
        opacity: 1;
        font-size: $font-size-input;
        text-transform: uppercase;
    }
    &:-ms-input-placeholder {
        color: $placeholder-color;
        font-size: $font-size-input;
        text-transform: uppercase;
    }
    &::-webkit-input-placeholder  {
        color: $placeholder-color;
        font-size: $font-size-input;
        text-transform: uppercase;
    }
}
