$bg-parallax-base:  transparent;

/**
 * Return height of parallax box ( plus 24.5% of base height )
 */
@function fn-parallax-box-height ($height) {
    @return $rr-header-height + (($rr-header-height * 24.5) / 100);
}

.rr-parallax {
    position: absolute;
    height: $rr-header-height;
    width: 100%;
    overflow: hidden;
    z-index: $rr-z-index-parallax;

    @media (min-width: $screen-sm-min) {
        background-image: none;

        .rr-parallax_front-tree, .rr-parallax_middle-tree, .rr-parallax_back-rocks {
            position: absolute;
            width: 100%;
            height: fn-parallax-box-height($rr-header-height);
            background-repeat: repeat-x;
            background-position: bottom;
        }

        .rr-parallax_front-tree {
            background-image: url("#{$rr-images-path}/parallax-tree-front.png");
            z-index: -1;
        }

        .rr-parallax_middle-tree {
            background-image: url("#{$rr-images-path}/parallax-tree-middle.png");
            z-index: -2;
        }

        .rr-parallax_back-rocks {
            background: url("#{$rr-images-path}/parallax-rocks.jpg") $bg-parallax-base;
            z-index: -3;
            background-position-x: -50%;
        }
    }

    @media (max-width: $screen-xs-max) {
        height: $navbar-height;
        background-image: none;
        background-color: $bg-parallax-base;
    }
}
