.rr-registration {
  @include rr-curve(#fff, 'curve.up.png', 'curve.down.png');

  [class^='col-'] {
    padding: 0 $padding-base-horizontal;

    > .row {
      > div {
        padding-left: 0;
        padding-right: 0;

        @media (min-width: $screen-sm-min) {
          &:first-of-type {
            padding-right: $padding-base-horizontal
          }
        }
      }
    }
  }

  .rr-registration__info {
    border-top: 1px solid $placeholder-color;
    color: $placeholder-color;
    padding-top: 10px;
  }

  .rr-registration__button {
    margin-top: 15px;
  }
}
