.rr-slider__wrapper {

  @include rr-curve(#fff, 'curve.up.png', 'curve.down.png');

  .rr-slider {
    padding: 15px;
    margin: 30px 0;
    background: #d9dada url("#{$rr-images-path}/pattern.tree.jpg") repeat;

    .carousel-indicators {
      li {
        background-image: url("#{$rr-images-path}/pattern.tree.jpg");
        margin-left: 3px;
        margin-right: 3px;
      }
    }

    @media (max-width: $screen-xs-max) {
      padding: 10px;
    }
  }
}
