.subscribe-form {
  margin: $rr-height-curve 0 130px;
  padding: 0 $padding-base-horizontal;

  @media (max-width: $screen-md-max) and (min-width: $screen-md-min) {
    margin-bottom: 100px;
  }

  @media (max-width: $screen-sm-max) {
    margin-top: $rr-height-curve-sm;
    margin-bottom: 50px;
  }
}
