.subscribe-form {
  margin: 30px 0 130px;
  padding: 0 $padding-base-horizontal;

  @media (max-width: $screen-md-max) and (min-width: $screen-md-min) {
    margin-bottom: 100px;
  }

  @media (max-width: $screen-sm-max) {
    margin-bottom: 50px;
  }
}
