$rr-z-index-wrapper:  1;
$rr-z-index-curve:    10;
$rr-z-index-parallax: 100;

$rr-height-curve:   100px;

// Header
$rr-header-height: 350px;
$rr-header-color: #c7e6c4;

$rr-images-path:  unquote('./../images');

$placeholder-color: #999 !default;
