$rr-btn-padding-top:    3px;
$rr-btn-padding-bottom: 2px;
$rr-btn-offset: 6px;

$rr-btn-height: $line-height-computed + $rr-btn-padding-top + $rr-btn-padding-bottom;
$rr-btn-arrow-height: $rr-btn-height + $rr-btn-offset;

.btn {
  position: relative;
  padding: $rr-btn-padding-top $padding-base-horizontal $rr-btn-padding-bottom;
  border-color: $brand-primary;

  &.btn__arrow {
    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -(1px + $rr-btn-offset);
      right: -($rr-btn-arrow-height * 2);
      border-width: $rr-btn-arrow-height;
      border-style: solid;
      border-color: transparent transparent transparent $brand-primary;
    }
  }

  &.btn__shaft {
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -10px;
      border: 1px solid $brand-primary;
    }
  }

  &:focus {
    color: transparent;
    text-decoration: none;
  }
}