@import "sprites";

$brand-color: #cc252b;
$text-color: #333;

.rr-footer-wrapper {
  background: url('./../images/pattern.svg') repeat;
  -webkit-background-size: 7%;
  background-size: 7%;

  .rr-footer-bg {
    background-size: cover;
    background: url('./../images/footer-bg-opacity.png') 50% 100% no-repeat;
  }
}

.rr-footer {
  position: relative;
  background-color: rgba(255, 255, 255, .7);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
  margin: 0 auto 30px;

  .rr-footer-logo {
    position: absolute;
    width: 230px;
    bottom: -20px;

    img {
      width: 230px;
    }
  }

  .rr-footer-contacts {

    .rr-footer-contacts-icons, .rr-footer-contacts-info {
      float: right;
      margin: 15px 0 10px;
    }

    .rr-footer-contacts-icons {
      .item {
        padding: 0 22px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 60px;
        }
      }

      .rr-scroll-to-top {
        padding-right: 60px;
        margin-right: 0;
        border-right: 3px solid $brand-color;

        + .item {
          padding-left: 60px;
        }
      }
    }

    .rr-footer-contacts-info {
      text-transform: uppercase;

      a {
        color: $text-color;
      }
    }
  }
}