.rr-p-video {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.rr-video-bg {
  background: url('../../vendor/images/video.png') 80% 50% no-repeat;
  height: 817px;
}

.rr-video-wrapper {
  text-align: center;
  padding: 200px 50px;
}