.rr-p-video {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.rr-video-bg {
  background: url('../../vendor/images/video.png');
  background-size: cover;
  height: 900px;
}

.rr-video-wrapper {
  text-align: center;
  padding-top: 20%;
}

@media(max-width: 768px) {
  .rr-video-bg {

    background-size: 100%;

    .video-but {
      padding-top: 20%;

      width: 20%;
      height: 20%;

    }
  }
}