.home {
  .home__subtitle-list {

    li {
      @media (max-width: $screen-sm-max) {
        display: inline-block;
        padding-right: 10px;
      }
    }
  }

}

.achievements {
  .achievements__items {
    position: relative;
  }

  .achievements__items-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .8);
    margin: 0 15px;
    padding: 10px 20px;
    font-size: $font-size-h4;

    > div {
      &:first-child {
        float: left;
      }

      &:nth-child(2) {
        font-weight: bold;
        float: right;
      }
    }
  }
}

//Modal window for upload user logo
#upload-user-logo-modal {
  .modal-header {
    h3 {
      font-size: 1.5em;
      text-align: center;
    }
  }
  .modal-body {
    .inputfile {
      /*First off, we need to hide the ugly input.
       CSS properties such as display: none or visibility: hidden will not work out.*/
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .inputfile + label {
      font-size: 1.25em;
      font-weight: 700;
      color: white;
      display: block;
      margin: auto auto 10px;
      cursor: pointer; /* "hand" cursor */
      span {
        text-align: center;
      }
    }
    .inputfile:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
    img {
      display: block;
      margin: auto;
      max-height: 400px;
    }
  }
}


