#myCarousel {
  border: 15px solid;
  -moz-border-image: url(../../images/slider-border.png) 15 stretch;
  -webkit-border-image: url(../../images/slider-border.png) 15 stretch;
  -o-border-image: url(../../images/slider-border.png) 15 stretch;
  border-image: url(../../images/slider-border.png) 15 fill stretch;

  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);

  .carousel-indicators {
    li {
      width: 16px;
      height: 16px;
      margin: 2px;

      background-image: url(../../images/radiobutton-bg.jpg);

      -webkit-box-shadow: -1px 1px px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.75);
      box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.75);
    }

    .active {
      border-color: #b2e8e2;;
    }
  }
}
